  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  html {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      user-select: none;
  }

  body{
      height: 100%;
      margin: 0;
  }

  body.main{
      background-repeat: no-repeat;
      background-attachment: fixed;
      background: #232526;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .material-symbols-outlined {
      font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 48
  }

  /*
  *
  BOTÃO DE INICIO
  *
  */

  #btn-menu.show, #btn-menu2.show {
      left: 270px;
  }


  #btn-menu {
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);
      color: aliceblue;
      width: fit-content;
      padding: 6px;
      border-radius: 50%;
      position: fixed;
      left: 15px;
      top: 15px;
      cursor: pointer;
      transition: left 0.2s ease;
      height: fit-content;
  }
  #btn-menu2 {
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);
      color: aliceblue;
      width: fit-content;
      padding: 6px;
      border-radius: 50%;
      position: fixed;
      left: 15px;
      top: 65px;
      cursor: pointer;
      transition: left 0.2s ease;
      height: fit-content;
  }
  #btn-menu2.active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
}
  /*
  *
  MENU - CSS
  *
  */
  .label {
    width: 85px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }

  #sidebar.show {
      left: 0px;
  }

  #sidebar {
      display: block;
      width: 240px;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.15);
      padding: 5px;
      color: white;
      height: 100%;
      overflow-y: auto;
      left: -250px;
      transition: left 0.3s ease;
      backdrop-filter: blur(15px);
  }

  #sidebar::-webkit-scrollbar {
      width: 0;
  }

  .text-menu {
      line-height: 2;
      text-align: center;
      color: white;
      padding: 15px;
      font-size: 12px;
      font-weight: bold;
      margin: 3px;
      border-radius: 15px;
      letter-spacing: 1px;
      background-color: hsla(0, 0%, 13%, 0.75);
  }
  .text-menu:hover{
      cursor: pointer;
      background-color: hsl(0, 0%, 9%);
  }

  .option {
      line-height: 3;
      background-color: #A11D33;
      border-radius: 15px;
      padding: 3px;
      margin: 3px;
      font-size: 0.85em;
      font-weight: 700;
      display: flex;
      justify-content: space-around;
      cursor: default;
  }
  .option:hover{
       background-color: #C71F37;
  }
  .option span {
      margin: 3px;
  }
  .option.clicked{
      background-color:  #C71F37;
  }
  span.material-symbols-outlined {
      cursor: pointer;
  }

  .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: cyan;
  }
  .expand {
      transition: transform 0.3s;
  }
  .option.clicked .expand{
    transform: rotate(-180deg);
  }
  
  .submenu {
      display: none;
      opacity: 0;
  }

  .submenu.show {
      display: block;
      text-align: center;
      opacity: 1;
      cursor: default;
  }
  
  .subitem{
      line-height: 30px;
      font-size: 0.75em;
      font-weight: 700;
      background-color: #202020ab;
      margin: 2px;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      cursor: default;
  }
  .subitem:hover, .subitem.selected{
     background-color: #0e0e0e;
  }

  .subitem span{
    cursor: pointer;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  /*
  CONTAINER
  */
  #iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .chart {
    width: 75vh;
    height: 75vh;
    backdrop-filter: blur(5px);
  }
  
  .container {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    width: fit-content;
    height: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /*
  BUTTON
  */
 
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .95rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.0;
    margin: 0;
    max-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 9rem;
  }

  #btn-melhor{
   background-color:#DA1E37; 
  }
  #btn-medio{
    background-color:#A11D33;
  }
  #btn-pior{
    background-color:#6E1423;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  /*
  LATERAL
  */

.lateral{
    box-sizing: content-box;
    width: fit-content;
    height: 100%;
    position: fixed;
    right: -460px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: onHold 2s ease-in-out infinite;
    transition: right 0.3s ease;
}

@keyframes onHold{
    0% {
      right: -460px;
    }
    50% {
      right: -440px;
    }
    100%{
      right: -460px;
    }
}

.lateral:hover{
    animation-play-state: paused;
}

.lateral.show {
    animation: onShow 0.4s ease-out;
    right: 0px;
}

@keyframes onShow{
  0% {
    right: -460px;
  }
  100%{
    right: 0px;
  }
}

.lateral  div{
    margin: 8px;
}


#btn-lad {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.35);
    color: aliceblue;
    width: fit-content;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.2s ease;
    height: fit-content;
    font-size: 28px;
    backdrop-filter: blur(25px);
}

#btn-lad:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

#text-lad {
    box-sizing: border-box;
    color: white;
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.15);
    height: inherit;
    padding: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    backdrop-filter: blur(15px);
    margin: 0;
}

#text-lad div{
  margin-bottom: 20px;
}

#text-lad div img{
    width: 100%;
}

#text-lad div.img{
    padding: 10px;
}

#text-lad h2, #text-lad h3{
    color: #DA1E37;
    font-weight: bold;
    text-align: center;
}

#text-lad div.code{
    width: fit-content;
    font-size: 15px;
    padding: 30px;
    background-color: #d2d5d86b;
}

#text-lad::-webkit-scrollbar {
  width: 0;
}

#text-lad li{
  list-style:decimal;
}

/*
HOMEPAGE
*/
@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}
.content__inner{
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.content__title {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 5vw;
  height: fit-content;
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
  height: fit-content;
	font-size: 1.25em;
	color: #fff;
	padding: 0 0.75em;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}