  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  html {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      user-select: none;
  }

  body {
      height: 100vh;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background: #0F2027;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .material-symbols-outlined {
      font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 48
  }

  /*
  *
  BOTÃO DE INICIO
  *
  */

  #btn-menu.show {
      left: 210px;
  }


  #btn-menu {
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.65);
      color: aliceblue;
      width: fit-content;
      padding: 3px;
      border-radius: 50%;
      position: fixed;
      left: 15px;
      top: 15px;
      cursor: pointer;
      transition: left 0.2s ease;
      height: fit-content;
      font-size: 28px;
  }

  /*
  *
  MENU - CSS
  *
  */
  .label {
    width: 85px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }

  #sidebar.show {
      left: 0px;
  }

  #sidebar {
      display: block;
      width: 195px;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.15);
      padding: 5px;
      color: white;
      height: 100%;
      overflow-y: auto;
      left: -250px;
      transition: left 0.3s ease;
  }

  #sidebar::-webkit-scrollbar {
      width: 0;
  }

  .text-menu {
      line-height: 2;
      text-align: center;
      color: white;
      padding: 15px;
      font-size: 12px;
      font-weight: bold;
      margin: 3px;
      border-radius: 15px;
      letter-spacing: 1px;
      background-color: hsla(0, 0%, 13%, 0.75);
  }

  .option {
      line-height: 3;
      background-color: rgba(137, 43, 226, 0.459);
      border-radius: 15px;
      padding: 3px;
      margin: 3px;
      font-size: 0.85em;
      font-weight: 700;
      display: flex;
      justify-content: space-around;
      cursor: default;
  }
  .option:hover{
       background-color: rgba(129, 20, 230, 0.904);
  }
  .option span {
      margin: 3px;
  }

  span.material-symbols-outlined {
      cursor: pointer;
  }

  .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: cyan;
  }
  .expand {
      transition: transform 0.3s;
  }
  .expand.clicked{
    transform: rotate(-180deg);
  }
  
  .submenu {
      display: none;
      opacity: 0;
  }

  .submenu.show {
      display: block;
      text-align: center;
      opacity: 1;
      cursor: default;
  }

  .subitem {
      line-height: 25px;
      font-size: 0.75em;
      font-weight: 700;
      background-color: #202020ab;
      margin: 2px;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      cursor: default;
  }
  .subitem:hover{
     background-color: #202020;
  }
  .subitem span{
    cursor: default;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  /*
  CONTAINER
  */
  
  .chart {
    width: 85vh;
    height: 85vh;
  }
  
  .container {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /*
  BUTTON
  */
 
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .95rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    max-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 9rem;
  }

  #btn-melhor{
   background-color:#1077B3; 
  }
  #btn-medio{
    background-color:#1496E0;
  }
  #btn-pior{
    background-color: #094161;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  /*
  LATERAL
  */

.lateral{
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lateral  div{
    margin: 8px;
}
#btn-lad {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    color: aliceblue;
    width: fit-content;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.2s ease;
    height: fit-content;
    font-size: 28px;
}
#btn-lad:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
#text-lad {
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    height: inherit;
    padding: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#text-lad img{
    width: 100%;
    margin: 15px;
}
